* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
}

/* Header */
header {
    padding: 20px;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 26px;
}

nav a {
    color: white;
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
}

/* Hero Section */
.hero {
    padding: 120px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    opacity: 0.8;
}
